{
  "presets": [
      ["@babel/preset-env", {
        "targets": {
            "chrome": "60",
            "firefox": "56"
        }
      }]
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
  ],
  "comments": false
}
