.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
coverage
*.swp
__pycache__
screenshots

# Put built modules here to distribute with Electron
/modules

# Electron-builder output
/dist_electron
