name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x]
        python-version: ['3.9']
        aw-server: ["aw-server", "aw-server-rust"]
        aw-version: ["v0.10.0"]
        include:
        - node-version: '12.x'
          python-version: '3.9'
          aw-server: "aw-server-rust"
          aw-version: "master"

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - uses: iterative/setup-cml@v1

    # TODO: Refactor out getting ActivityWatch builds (both release and nightly) into an action
    - name: Install and run ActivityWatch
      if: ${{ matrix.aw-version != 'master' }}
      run: |
        wget --no-verbose -O activitywatch.zip https://github.com/ActivityWatch/activitywatch/releases/download/${{ matrix.aw-version }}/activitywatch-${{ matrix.aw-version }}-linux-x86_64.zip
        unzip activitywatch.zip
        ./.github/configure_server.sh
        ./activitywatch/${{ matrix.aw-server }}/${{ matrix.aw-server }} --testing &

    - name: Download aw-server-rust nightly
      if: ${{ matrix.aw-server == 'aw-server-rust' && matrix.aw-version == 'master' }}
      uses: dawidd6/action-download-artifact@v2
      with:
        repo: ActivityWatch/aw-server-rust
        # Required, workflow file name or ID
        workflow: build.yml
        # Optional, the status or conclusion of a completed workflow to search for
        # Can be one of a workflow conclusion::
        # "failure", "success", "neutral", "cancelled", "skipped", "timed_out", "action_required"
        # Or a workflow status:
        # "completed", "in_progress", "queued"
        # Default: "completed,success"
        workflow_conclusion: "completed"  # FIXME: Don't try to use builds that fail on Linux
        branch: master
        event: push
        # Uploaded artifact name,
        name: binaries-Linux  # NOTE: debug build
        # Directory where to extract artifact
        path: aw-server-rust

    - name: Install and run aw-server-rust nightly
      if: ${{ matrix.aw-server == 'aw-server-rust' && matrix.aw-version == 'master' }}
      run: |
        chmod +x ./aw-server-rust/debug/aw-server
        ./aw-server-rust/debug/aw-server --testing &

    - name: Insert fake data into aw-server
      run: |
        pip install git+https://github.com/ActivityWatch/aw-client.git
        wget --no-verbose -O fakedata.py https://github.com/ActivityWatch/aw-fakedata/raw/ca6047e6e2cdc6aee13bc441f4fd3c9f0e36eda9/aw-fakedata.py
        python3 fakedata.py

    - name: Install
      run: npm ci
    - name: Build
      run: npm run build
    - name: Run tests
      run: |
        npm test
        bash <(curl -s https://codecov.io/bash)
    - name: Serve webui
      run: |
          npm run serve &
          sleep 3  # give a few seconds
    - name: Run e2e tests with testcafe
      uses: DevExpress/testcafe-action@latest
      with:
        # NOTE: --skip-js-errors should be removed when things work properly
        args: "--skip-js-errors chrome test/e2e/"
    - name: Upload build
      uses: actions/upload-artifact@v2-preview
      with:
        name: build
        path: dist/*
    - name: Move screenshots to subdir
      env:
        aw_server: ${{ matrix.aw-server }}
        aw_version: ${{ matrix.aw-version }}
      run: |
        mkdir -p screenshots/dist/$aw_server/$aw_version
        mv screenshots/*.png screenshots/dist/$aw_server/$aw_version
    - name: Upload screenshots
      uses: actions/upload-artifact@v2-preview
      with:
        name: screenshots
        path: screenshots/dist/*
